*{
    background-color: #0c1117;
}

.Container-login{
    width: 400px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px; 
    margin-top: 100px; 
    padding: 80px;  
    border-radius: 15px ;
    background: #fff;  
}

input{
    background-color: #fff;
    width: 250px;
    padding: 5px;
}

label{
    color: rgb(99, 99, 99);
    background: #fff;
}

.Title-login{
    color: #0c1117;
    background: #fff;
    width: 300px;
}

.btn-login{
    background-color: #4ECCB2;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}

.btn-register{
    margin-left: 30px;
    background-color: #fff;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}